<div class="flex justify-center">
  <div class="w-full max-w-xs">
    <h2 class="mb-4">Sign In</h2>

    <%= form_for @changeset, @callback_url, [class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"], fn form -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>
    <div class="mb-4">
      <%= label form, :email, class: "block text-gray-700 text-sm font-bold mb-2", for: :email %>
      <%= text_input form, :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", type: "email", autofocus: true %>
      <%= error_tag(form, :email) %>
    </div>
    <div class="mb-6">
      <%= label form, :password, class: "block text-gray-700 text-sm font-bold mb-2", for: :password %>
      <%= text_input form, :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", type: "password" %>
      <%= error_tag(form, :password) %>
    </div>
    <div class="flex items-center justify-between">
      <%= submit("Sign In", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") %>
      <%= link("Reset your password", to: "/account/reset-password", class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800") %>
    </div>
    <p class="mt-4 text-center text-sm text-gray-500">No account yet? <%= link("Register Now", to: "/account/register", class: "hover:text-gray-800 underline") %></p>
  <% end %>
</div>
</div>
