<%= @from_email %> is collecting memories about <%= @quilt_subject %> on Quilted Memoir:

<%= @invitation_prompt %>

To add your memory, visit <%= @contributor_link %>

Sent via Quilted Memoir: <%= @quilted_memoir_url %>