<p><%= @from_email %> is collecting memories about <%= @quilt_subject %> on Quilted Memoir:</p>
<p><%= @invitation_prompt %></p>
<p>To add your memory, <a href="<%= @contributor_link %>">Click Here</a>.</p>
<p>Or, copy this URL into your browser: <%= @contributor_link %></p>
<p>Sent via <a href="<%= @quilted_memoir_url %>">Quilted Memoir</a></p>
