<h1>Reset your password?</h1>
<p>If you requested a password reset for your Quilted Memoir account, click the link below. If you didn't make this request, ignore this email.</p>
<p><%= link "Reset password", to: @password_reset_url %></p>
