<p>Thank you for signing up for Quilted Memoir!</p>
<p>
  We created Quilted Memoir to help us remember and learn more about those we love most.
  Although we might think we have their whole story, the perspectives of others can help
  us learn new stories and gain interesting insights.
</p>
<p>
  We hope you find Quilted Memoir useful. Please let us know what you think by replying to this email,
  or sending a note to hello@quiltedmemoir.com.
</p>
<p>Sincerely, the Quilted Memoir team</p>
