<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-3 col">
      <h2>Finish Reset Password</h2>
      <%= form_for @changeset, Routes.account_path(@conn, :finish_password_reset_get) , fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <%= hidden_input(form, :token) %>
      <div class="form-group">
        <%= label(form, :password, class: "control-label") %>
        <%= password_input(form, :password, class: "form-control") %>
        <%= error_tag(form, :password) %>
      </div>
      <div class="form-group">
        <%= label(form, :password_verify, class: "control-label") %>
        <%= password_input(form, :password_verify, class: "form-control") %>
        <%= error_tag(form, :password_verify) %>
      </div>
      <div class="form-group">
        <%= submit "Reset Password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
