<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col">
      <h2>Share your memories about <%= @quilt_subject %></h2>
      <p>
        Quilted Memoir helps collect the stories surrounding those we care about most.
        Thank you for taking just a couple minutes to share yours about <%= @quilt_subject %>.
      </p>
      <%= form_for @changeset, Routes.account_path(@conn, :register_guest_get) , fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <div class="form-group">
        <%= label(form, :email, "What is your email address?", class: "control-label") %>
        <%= email_input(form, :email, class: "form-control", autofocus: true, placeholder: "name@example.com") %>
        <%= error_tag(form, :email) %>
      </div>
      <p>
        <em>By continuing, you agree to our <%= link("Terms of Service", to: "/legal/terms-of-service") %>
        </em>
      </p>
      <div class="form-group">
        <%= submit "Continue", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
