<div class="flex justify-center">
  <div class="w-full max-w-xs">
    <h2 class="mb-4">Sign Up</h2>
    <%= form_for @changeset, Routes.account_path(@conn, :register_get), [class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"], fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>

      <div class="mb-4">
        <%= label(form, :email, class: "block text-gray-700 text-sm font-bold mb-2") %>
        <%= email_input(form, :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autofocus: true) %>
        <%= error_tag(form, :email) %>
      </div>

      <div class="mb-4">
          <%= label(form, :password, class: "block text-gray-700 text-sm font-bold mb-2") %>
          <%= password_input(form, :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") %>
          <%= error_tag(form, :password) %>
      </div>

      <div class="mb-6">
          <%= label(form, :password_verify, "Password Again", class: "block text-gray-700 text-sm font-bold mb-2") %>
          <%= password_input(form, :password_verify, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") %>
          <%= error_tag(form, :password_verify) %>
      </div>

      <p class="mb-4 text-sm italic">
        By signing up, you agree to our <%= link("Terms of Service", to: "/legal/terms-of-service", class: "hover:text-gray-500 underline") %>
      </p>

      <div class="flex items-center justify-between">
        <%= submit "Sign Up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" %>
      </div>

      <p class="mt-4 text-center text-sm text-gray-500">Already have an account? <%= link("Sign In", to: "/auth/identity", class: "hover:text-gray-800 underline") %></p>
    <% end %>
  </div>
</div>
