<div class="flex justify-center">
  <div class="w-full max-w-xs">
    <h2 class="mb-4">Reset Password</h2>
      <%= form_for @changeset, Routes.account_path(@conn, :reset_password_post), [class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"], fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <div class="mb-4">
        <%= label(form, :email, class: "block text-gray-700 text-sm font-bold mb-2") %>
        <%= email_input(form, :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", autofocus: true) %>
        <%= error_tag(form, :email) %>
      </div>
      <div class="flex items-center justify-between">
        <%= submit "Reset Password", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" %>
      </div>
    <% end %>
  </div>
</div>
</div>
