<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http_equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Quilted Memoir</title>
    <link rel="stylesheet" href=<%= Routes.static_path(@conn, "/css/app.css") %>>
    <%= csrf_meta_tag() %>
    <script src="<%= Routes.static_path(@conn, "/js/src/app.ts.js") %>"></script>
    <script>
    rudderanalytics=window.rudderanalytics=[];for(var methods=["load","page","track","alias","group","identify","ready","reset"],i=0;i<methods.length;i++){var method=methods[i];rudderanalytics[method]=function(d){return function(){rudderanalytics.push([d,...arguments])}}(method)}rudderanalytics.load("<%= Application.get_env(:segment, :write_key) %>", "<%= Application.get_env(:segment, :api_url) %>", { useAutoTracking: true }),rudderanalytics.page();
    </script>
    <script  src="https://cdn.rudderlabs.com/v1/rudder-analytics.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <%= render("navigation.html", assigns) %>
    <%= for {style, message} <- get_flash(@conn) do %>
      <div class="flex <%= flash_color_for_style(style) %> text-sm font-bold px-4 py-3 mb-4" role="alert">
        <div class="container mx-auto">
          <svg class="fill-current w-4 h-4 mr-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
          <p class="inline"><%= message %></p>
        </div>
      </div>
    <% end %>
    <main class="px-2">
      <%= @inner_content %>
    </main>
  </body>
</html>
