<nav class="flex items-center justify-between flex-wrap bg-white p-6 border-b-2 mb-4">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/">
      <img class="h-16" src="/images/qm_logo.png" alt="Quilted Memoir Logo" />
    </a>
  </div>
  <div class="block lg:hidden">
    <button onClick="document.getElementById('top-menu').classList.toggle('hidden')" class="flex items-center px-3 py-2 border rounded text-blue-800 border-blue-800 hover:text-blue-500 hover:border-blue-500">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div id="top-menu" class="w-full block flex-shrink lg:flex lg:items-center justify-end lg:w-auto text-right hidden">
    <div class="text-sm lg:flex-grow lg:mr-4 lg:mt-1">
      <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-blue-800 hover:text-blue-600 lg:mr-4">
        What is it?
      </a>
      <%= if !assigns[:current_user] do %>
        <a href="/auth/identity" class="block mt-4 lg:inline-block lg:mt-0 text-blue-800 hover:text-blue-600 lg:mr-4">
          Log In
        </a>
      <% else %>
        <a href="/auth/logout" class="block mt-4 lg:inline-block lg:mt-0 text-blue-800 hover:text-blue-600">
          Log Out
        </a>
      <% end %>
    </div>
    <div>
      <%= if !assigns[:current_user] do %>
        <a href="/account/register" class="btn inline-block mt-4 lg:mt-0">Sign Up</a>
      <% else  %>
        <a href="/quilt" class="btn inline-block mt-4 lg:mt-0">View My Quilts</a>
      <% end %>
    </div>
  </div>
</nav>
