@font-face {
  font-family: "Prata";
  src: url(/fonts/prata.ttf) format("truetype");
}

@tailwind base;

@tailwind components;

.btn {
  @apply inline-block px-4 py-2 leading-none border rounded text-white border-blue-800 bg-blue-600 text-sm;
}

.btn:hover {
  @apply bg-blue-400 text-white;
}

.btn-lg {
  @apply text-xl;
}

h1 {
  @apply text-5xl font-serif;
}

h2 {
  @apply text-2xl font-serif;
}

@tailwind utilities;

@import "./styles.css";

@import "../node_modules/nprogress/nprogress.css";
