html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-container {
  height: 100%;
  padding: 0;
}

.home-banner {
  background: url(/images/unsplash.jpg) no-repeat !important;
  padding-top: 30px;
  flex-flow: column;
  height: 100%;
}

ul.quilt-square {
  width: 20rem;
  height: 20rem;
  padding: 0.5rem;
}

ul.quilt-square li {
  display: inline-block;
  position: absolute;
}

ul.quilt-square li:nth-child(1) {
  width: 10rem;
  transform: rotate(-0.25turn) translateY(4rem) translateX(-4.5rem);
  text-align: right;
}

ul.quilt-square li:nth-child(2) {
  width: 10rem;
  transform: rotate(-0.25turn) translateY(6rem) translateX(-4.5rem);
  text-align: right;
}

ul.quilt-square li:nth-child(3) {
  width: 10rem;
  transform: translateY(8rem);
  text-align: left;
}

ul.quilt-square li:nth-child(4) {
  width: 10rem;
  transform: translateY(10rem);
  text-align: left;
}

ul.quilt-square li:nth-child(5) {
  width: 20rem;
  transform: rotate(0.25turn) translateY(1rem) translateX(9.5rem);
  text-align: right;
}

ul.quilt-square li:nth-child(6) {
  width: 20rem;
  transform: rotate(0.25turn) translateY(-1rem) translateX(9.5rem);
  text-align: right;
}

ul.quilt-square li:nth-child(7) {
  width: 20rem;
  transform: translateY(8rem);
  text-align: right;
}

ul.quilt-square li:nth-child(8) {
  width: 20rem;
  transform: translateY(10rem);
  text-align: right;
}
