<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col">
      <h2>Add a memory</h2>
      <%= form_for @changeset, @callback_url , fn form -> %>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <div class="form-group">
        <p class="lead">What is a memory that you have of <%= @name_for_quilt %>?</p>
        <%= textarea(form, :memory,
          class: "form-control-lg form-control",
          autofocus: true,
          placeholder: "I remember when...",
          aria_describedBy: "description"
          ) %>
        <small id="memoryHelp" class="form-text text-muted">What do you remember about <%= @name_for_quilt %> that you think others might want to know about?</small>
        <%=  error_tag(form,  :memory) %>
      </div>
      <div class="form-group text-center">
        <%=  submit("Add Your Memory", class: "btn btn-primary btn-lg") %>
      </div>
    <%  end %>
    <div class="text-center">
      <%=  link "Skip this step for now", to: @skip_to_next_step_url, class: "small" %>
    </div>
  </div>
</div>
