<div class="mt-4 flex flex-wrap" >
  <div class="1-1/1 lg:w-2/3 ml-auto mr-auto">
    <%= if length(@quilts) == 0 do %>
      <div class="text-center">
        <p class="mb-4">No quilts here! Create a new one to get started.</p>
        <%= link"Start a new Quilt", class: "btn mb-4", to: "/quilt/new" %>
        <%= img_tag("/images/no_quilt.svg", class: "p-4") %>
      </div>
    <% end %>
    <div class="grid grid-cols-3 gap-4">
      <%= for quilt <- @quilts do %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
          <%= if !is_nil(quilt.signed_url) do %>
            <%= link(img_tag(quilt.signed_url, class: "w-full", alt: "Quilt for #{quilt.name}"), to: quilt_link(quilt.id)) %>
          <% else %>
            <a href="<%= quilt_link(quilt.id) %>" alt="Quilt for <%= quilt.name %>">
              <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="gradient" x1="0.5" y1="0" x2="0.5" y2="1">
                    <%= linear_gradient_stops() %>
                  </linearGradient>
                </defs>
                <g>
                  <rect class="w-full h-auto" fill="url(#gradient)" stroke-width="0" x="0" y="0" />
                </g>
              </svg>
            </a>
          <% end %>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= link(quilt.name, to: quilt_link(quilt.id)) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
