<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col">
      <h2>Invite others to add memories</h2>
      <%= form_for @changeset, @callback_url , fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <div class="form-group">
        <p class="lead">Who do you know that could also share a memory about <%= @name_for_quilt %></p>
        <%= text_input(form, :contributor_email,
            class: "form-control-lg form-control",
            autofocus: true,
            placeholder: "someone.you.know@example.com",
            aria_describedBy: "email"
          ) %>
        <small id="contributorEmailHelp" class="form-text text-muted">Share this quilt with friends - it's free!</small>
        <%= error_tag(form, :contributor_email) %>
      </div>
      <div class="form-group text-center">
        <%= submit("Invite contributor", class: "btn btn-primary btn-lg") %>
      </div>
    <% end %>
    <div class="text-center">
      <!--
      <span style="margin-right: 1rem">
        <a
        href="https://twitter.com/share"
        class="twitter-share-button"
        style="margin-right: 1rem"
        data_size="large"
        data_text="Help me collect memories about <%= @name_for_quilt %> on Quilted Memoir!"
        data_url="<%= @social_share_url %>"
        data_hashtags="QuiltedMemoir"
        data_related="quiltedmemoir"
        data_show_count="false">Tweet</a>
      </span>
      <span style="margin-left: 1rem">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= URI.encode_www_form(@social_share_url) %>&layout=button&size=large&width=77&height=28&appId"
        width="77"
        height="28"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allow="encrypted-media">
        </iframe>
        <script async=true src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </span>
    -->
      <div class="text-center">
        <%= link "Go to the next step", to: @skip_to_next_step_url, class: "small" %>
      </div>
    </div>
  </div>
</div>
