<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col">
      <h2>New Quilt</h2>
      <%= form_for @changeset, @callback_url, fn form -> %>
      <% if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>
      <div class="form-group">
        <%= label form, :name, class: "control-label" %>
        <%= text_input form, :name,
          class: "form-control-lg form-control",
          type: "input",
          autofocus: true,
          placeholder: "Who is this quilt for?",
          aria_describedby: "nameHelp" %>
        <small id="nameHelp" class="form-text form-muted">Put the name of the person for whom you are creating a quilt.</small>
        <%= error_tag( form, :name) %>
      </div>
      <div class="form-group text-center">
        <%= submit("Create Quilt", class: "btn btn-primary btn-lg") %>
      </div>
    <% end %>
  </div>
</div>
</div>
