<div class="mt-4 flex flex-wrap" >
  <div class="1-1/1 lg:w-2/3 ml-auto mr-auto">
    <div class="inline-flex text-center mb-4">
      <%= if @is_authed do %>
        <%= link("Add Memory", to: @add_memory_url, class: "btn border-r-0 rounded-r-none btn-primary") %>
        <%= link("Invite Contributor", to: @add_invitation_url, class: "btn border-l-0 border-r-0 rounded-none btn-primary") %>
      <% end %>
      <%= if @is_owner do %>
        <%= link("Set Photo",
          to: "#",
          id: "set-photo",
          class: "btn border-l-0 rounded-l-none btn-primary") %>
      <% end %>
    </div>
    <div class="flex mb-4">
      <%= if not is_nil(@quilt_photo_url) do %>
        <%= img_tag(@quilt_photo_url,
            class: "w-12 h-auto lg:w-24 mr-4 rounded-full border"
            ) %>
      <% end %>
      <h2 class="text-3xl align-middle inline-block">Memories of <%= @quilt_subject %></h2>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <%= for %{memory: memory} <- @memories do %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg p-4 bg-white">
          <%= memory %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<input id="set-photo-input"
  style="position: absolute; top: -100em;"
  type="file"
  accept="image/*" />
<script src="<%= Routes.static_path(@conn, "/js/src/view_quilt.ts.js") %>"></script>
