<div class="mx-auto container items-center">
  <h1 class="text-center">Remember Them</h1>
  <p
    class="lead text-center">Our loved ones are remembered by those around them. Stitch together memories from friends and family as a gift and remembrance.</p>
  <p class="text-center mt-4">
    <%= link("Get Started", to: "/account/register", class: "btn btn-lg btn-primary") %>
  </p>
</div>
