<div class="flex lg:flex-row flex-col container mx-auto items-center">
  <div class="lg:w-6/12 lg:mr-8 lg:ml-auto">
    <h1>Get The Whole Story</h1>
    <h2>From those that know them best</h2>
    <p>
      Everyone has a story.
      Quilted Memoir makes it easy to collect stories and memories about those you love most.
      <strong>Get started for free.</strong>
    </p>
    <ul class="list-disc ml-5 mt-4">
      <li>
        Invite unlimited contributors.
      </li>
      <li>
        Collect all of their stories in one place.
      </li>
      <li>
        Share their stories with the world.
      </li>
    </ul>
    <div class="text-center">
    <%= if assigns[:current_user] do %>
      <%= link"Start a quilt", class: "btn btn-lg btn-primary mt-8", to: "/quilt/new" %>
    <% else %>
      <%= link "Sign up now", class: "btn btn-lg btn-primary mt-8", to: "/account/register" %>
    <% end %>
    </div>
  </div>
  <div class="lg:w-6/12 lg:ml-8 lg:mr-auto lg:text-center mt-8">
    <%= img_tag("/images/home_page.svg", class: "w-9/12 mx-auto") %>
  </div>
</div>

<h2 class="text-center mt-8 mb-4">What People are saying about Quilted Memoir</h2>

<div class="flex justify-around pb-8">
  <div class="lg:w-3/12 flex shadow-lg border border-gray-200 p-4">
    <%= img_tag("/images/testimonials/brent.png", class: "w-24 h-24 mr-4 rounded-full") %>
    <div class="text-sm">
      <p class="text-gray-900 leading-none">
        "These stories are priceless.
        Because of Quilted Memoir, I have new stories about my dad's love of sports, teenage pranks, and even some people he rescued as a boy scout."
      </p>
      <p class="text-gray-600 mt-1">Brent Anderson</p>
    </div>
  </div>
</div>
